<h1>Edit or Delete your post</h1>
<form action= "" method="post">
  <ul>
    <li>Post name: <br><input type="text" name="name" value="<%=@post.name%>"></li>
    <li>Post body: <br><textarea name="body" rows="8" cols="50"><%=@post.body%></textarea></li>
    <li><input type="submit" value="Submit Changes" name="submit"></li>
    <li><input type="submit" value="Delete Post" name="submit"></li>
  </ul>
</form>  
