<div class='container'>
  <form action= "" method="post">
    Post name: <br><input type="text" name="name" value="<%=@post.name%>"><br>
    Post body: <br><textarea name="body" rows="8" cols="50"><%=@post.body%></textarea>
    <br><input type="submit" value="Submit Changes">
  </form>  
</div>
