<h1> Create a post in <%=@category.name%></h1>
<form action= "" method="post"> 
  Post name: <br><input type="text" name="name"><br>
  Post body: <br><textarea name="body" rows="8" cols="50"></textarea>
  <br><input type="submit" value="Submit">
</form>  
