<div class='container'>
  <form action= "" method="post">
    Post name: <br><input type="text" name="name"><br>
    Post body: <br><textarea name="body" rows="8" cols="50"></textarea>
    <br><input type="submit" value="Submit">
  </form>  
</div>




<!-- 

build form for new post

name
body
submit
etc

params[:name] = name field contents
params[:body] = body field contents
 -->
