<div class="container">
  <a href='/categories/<%=@category.id%>/posts/new'> New Post </a>
  <ul>
    <%@posts.each do |post|%>
     <li><a href="<%=url("/posts/#{post.id}")%>"> <%=post.name%> </a></li>
    <%end%> 
  </ul>
</div>
