<!-- <a href=""> View Post </a> -->
<a href="<%=url("/categories/#{category.id}"> Edit/Delete your Post </a>
<a href="/categories"> Home </a>



#  redirect to("/posts/#{post.id}/edit?access_key=#{post.access_key}")
# <a href="<%=url("/categories/#{category.id}")%>"> <%=category.name%> </a>
